html, body {
  font-family: 'Roboto', 'sans-serif';
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

md-sidenav h1 {
  font-size: 1.25em;
  font-weight: 400;
  margin: 0 auto;
  margin-top: 15px;
}

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}

md-list .md-button.selected {
  color: #03A9F4;
}

md-sidenav md-list {
  padding: 0px 0px 8px 0px;
}

#content {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom: 0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
