html, body {
  font-family: 'Roboto', 'sans-serif';
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

md-sidenav h1 {
  font-size: 1.25em;
  font-weight: 400;
  margin: 0 auto;
  margin-top: 15px;
}

#content {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
